body {
  background: rgb(0,0,0);
  background: rgba(0,0,0,.65);
}

.input-group {
  width: 50%;
  max-width: 500px;
}

.dropdown-toggle {
  width: 125px;
}

.dropdown-item {
  cursor: pointer;
}

.btn:active {
  border: none;
}

.btn-link {
  color: black;
  font-size: 12px;
}

.btn-link:hover {
  color: grey;
}

.content {
  width: 80vw;
}

.info {
  width: 80vw;
}

.card {
  height: 300;
  width: 200;
  
  cursor: pointer;
}

img {
  height: 300px;
  width: 200px;
}