body {
  background: rgb(0,0,0);
  background: rgba(0,0,0,.90);
  
  color: white;
}

#logo {
  width: 80vw;
  max-width: 500px;
  height: auto;
}

.input-group {
  min-width: 500px;
  max-width: 500px;
}

.dropdown-toggle {
  width: 125px;
}

.dropdown-item {
  cursor: pointer;
}

#input {
  max-width: 250px;
  min-width: 250px;
}

#search {
  width: 125px;
}

.btn:active {
  border: none;
}

.btn-link {
  color: black;
  font-size: 12px;
}

.btn-link:hover {
  color: grey;
}

.content {
  width: 80vw;
}

.info {
  width: 80vw;
}

.card {
  height: 300;
  width: 200;
  
  cursor: pointer;
}

img {
  height: 300px;
  width: 200px;
}